
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #333;
}

header {
  background: #2e7d32;
  color: white;
  padding: 20px 0;
}

header h1 {
  text-align: center;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.hero {
  background: url('chicken-farm.jpg') center/cover;
  padding: 60px 30px;
  text-align: center;
  color: rgb(255, 253, 253);
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px auto;
}

.features article {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
}

main h2 {
  margin: 20px 0;
}

.product-list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px;
  background: #2e7d32;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #1d5c24;
}

footer {
  background: #2e7d32;
  padding: 15px 0;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.hero {
  background: url("pics/18bf04758cefd9b03d987fea0f121d86.jpg") center/cover no-repeat;
  padding: 200px 100px;
  text-align: center;
  color: white;
}

.about-hero {
  background: url("pics/b4319de982f1589cd995cf12bb5723d1.jpg") center/cover no-repeat;
  padding: 200px 100px;
  color: rgb(41, 28, 28);
}

